.intelligentForm {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.item {
  flex: 1;
  flex-basis: 30px;
  max-width: 350px;
}

.intelligentForm button {
  margin: 10px;
  align-self: center;
}
